<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Review</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/new_review.css')}}" />
</head>
<body>

<form action="" method="post">
    <!-- {% if message %}
        <p>{{ message }}</p>
    {% endif %} -->

    {{ form.csrf_token() }}

    <p>{{ form.name.label() }}</p>
    <p class="error">
        {{ form.name() }}
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
    </p>

    <p>{{ form.text.label() }}</p>
    <p class="error">
        {{ form.text() }}
        {% for error in form.text.errors %}
            {{ error }}
        {% endfor %}
    </p>

    <p>
    {% for subfield in form.score %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
    {% endfor %}
    </p>
    <p class="error">
    {% for error in form.score.errors %}
        {{ error }}
    {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>


</form>

</body>
</html>