<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/reviews.css')}}" />
</head>

    <div class="form">
        <div class="col">
            <div class="row">
                <label for="order">Order</label>
                <select id="order" name="order" required>
                  <option value="asc" {% if order == "asc" %}selected{% endif %}>Ascending</option>
                  <option value="desc" {% if order == "desc" %}selected{% endif %}>Descending</option>
                </select>
            </div>

            <div class="row">
                <label for="sort_by">Sort by</label>
                <select id="sort_by" name="sort_by" required>
                  <option value="id" {% if sort_by == "id" %}selected{% endif %}>Serial Number</option>
                  <option value="name" {% if sort_by == "name" %}selected{% endif %}>Reviewer Name</option>
                  <option value="text" {% if sort_by == "text" %}selected{% endif %}>Review Text</option>
                  <option value="score" {% if sort_by == "score" %}selected{% endif %}>Review Score</option>
                </select>
            </div>
        </div>
        <div class="row">
            <input type="button" onclick="applyFiltres()" value="Search">
            <input type="button" onclick="newReview()" value="New Review">
        </div>
    </div>
    {% for review in reviews.items %}
        <div class="form">
            <p>Name: </p>
            <p>{{ review.name }}</p>
            <p>Text: </p>
            <p>{{ review.text }}</p>
            <p>Rating: </p>
            <p>{{ review.score }}</p>
        </div>
    {% endfor %}

    {% if reviews.has_prev %}
        <p class="page" onclick="changePage({{ reviews.prev_num }})">&lt;&lt;{{ reviews.prev_num }}</p>
    {% endif %}
    {% if reviews.has_next %}
        <p class="page" onclick="changePage({{ reviews.next_num }})">{{ reviews.next_num }} &gt;&gt;</p>
    {% endif %}

    <script>
        function changePage(page) {
            var order = document.getElementById("order").value;
            var sort_by = document.getElementById("sort_by").value;

            window.open(`/reviews/${page}?order=${order}&sort_by=${sort_by}`, "_top");
        }

        function applyFiltres() {
            var order = document.getElementById("order").value;
            var sort_by = document.getElementById("sort_by").value;
            var page = {{ reviews.page }}

            window.open(`/reviews/${page}?order=${order}&sort_by=${sort_by}`, "_top");
        }
        function newReview() {
            window.open("/new-review", "_top");
        }
    </script>

</body>
</html>