* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    font-size: 20px;
}
p[class="error"] {
    margin: 10px 0 0px;
    color: rgb(255, 0, 0);
}
label {
    font-weight: bold;
    color: #000;
}
input[type="text"] {
    /*display: block;*/
    padding: 10px;
    font-size: 16px;
    color: rgb(42, 42, 44);
}
input[type="submit"] {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 auto;
}
textarea {
    display: block;
    min-width: 400px;
    min-height: 150px;
    padding: 10px;
    font-size: 16px;
}
form {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
}
div[class="form"] {
    display: grid;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
}
label {
    font-weight: bold;
    color: #000;
}
.order, .sort_by {
  float:left;
  margin-right: 30px;
}
input[type="button"] {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 auto;
}
select {
    padding: 5px;
}
div {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}
div > p {
    font-size: 18px;
    margin-top: 0px;
    color: #000;
}
div > p:nth-child(2n-1) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
a {
    display: inline-block;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
}
p[class="page"] {
    display: inline-block;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
    color: blue;
}
