* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
    font-size: 20px;
}
.error {
    margin: 10px 0 0px;
    color: rgb(255, 0, 0);
}

label {
    font-weight: bold;
    color: #000;
}
input[type="text"] {
/*display: block;*/
    padding: 10px;
    font-size: 16px;
    color: rgb(42, 42, 44);
}
input[type="submit"] {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 auto;
}
textarea {
    display: block;
    min-width: 400px;
    min-height: 150px;
    padding: 10px;
    font-size: 16px;
}
.form {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    max-width: 500px;
}
.form:first-child {
    margin-top: 30px;
}
.form:last-child {
    margin-bottom: 30px;
}
label {
    font-weight: bold;
    color: #000;
}
.order,
.sort_by {
    float: left;
    margin-right: 30px;
}
input[type="button"] {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
    input[type="button"]:only-child,
    input[type="submit"]:only-child {
    margin: 0 0 0 auto;
}
select {
    padding: 5px;
}
div {
    max-width: 500px;
    margin: 0px auto 0px auto;
    /* padding: 0px; */
    background-color: #fff;
}
    div + div {
    margin-top: 10px;
}
div > p {
    font-size: 18px;
    margin-top: 0px;
    color: #000;
}
div > p:nth-child(2n-1) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
    div > p:first-child {
    margin-top: 0px;
}
a {
    display: inline-block;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
}
.page {
    display: inline-block;
    margin-left: calc(50% - 50px);
    margin-bottom: 20px;
    color: blue;
}
.row {
    display: flex;
    justify-content: space-around;
}